<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT USER</title>
</head>
<body>
    <h1>EDIT</h1>
    <form method="post" action="/editUser/{{contato[0]}}" id="formulario">

        Name <input type="text" name="nameCont" value="{{contato[1]}}">
        Number <input type="number" name="numberCont" value="{{contato[2]}}">
        Email <input type="email" name="emailCont" value="{{contato[3]}}">

        <br>
        <input type="submit" value="EDIT">
        <br>
        <a class="button" href="{{url_for('home')}}">HOME</a>
</body>
</html>