<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT USER</title>
</head>
<body>
    <h1>EDIT</h1>
    <form method="post" action="{{url_for('cadUser')}}" id="formulario">

        Name <input type="text" name="nameCont">
        Number <input type="number" name="numberCont">
        Email <input type="email" name="emailCont">

        <br>
        <input type="submit" value="EDIT">
</body>
</html>