<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGENDA</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <div class="container">

        <div class="table-css">
            <h1 class="titulo">AGENDA</h1>
            <table>
                <tr>
                    <td class="header">ID</td>
                    <td class="header">NAME</td>
                    <td class="header">NUMBER</td>
                    <td class="header">ACTIONS</td>
                    
                    
                </tr>
                    {% for row in data %}
                <tr>
                    <td>{{row[0]}}</td> <!--LINE WITH DATA FROM TABLE CONTACTS COLUNM ID-->
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                    
                    
                    <!--BUTTONS FOR EDIT AND DELETE ON TABLE CONTACTS-->
                    
                    <td>
                        <!--BUTTON ON CLICK TO TAKE VALUE OF ID OF CONTACT TO EDIT-->
                        <a class="button-table" href="{{url_for('editUser', id=row[0])}}">EDIT</a>
                        <a class="button-table" href="{{url_for('delUser', id=row[0])}}">DEL</a>
                        <a class="button-table" href="{{url_for('detailsUser', id=row[0])}}">DETAILS</a>
                    </td>

                </tr>
                {% endfor %}
            </table>

            <br>
            <a class="button-cadUser" href="{{url_for('pageUser')}}">CAD USER</a> <!--ROUTE FOR PAGE CADUSER (CALL FUNCTION CADUSER)-->
        </div>

    </div>    
</body>
</html>